.game-board{
    margin-left: 200px;
    margin-bottom: 30px;
    width: 500px;
    height: 500px;
    
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.game-cell{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 22px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #0e1e1e;
}

.game-cell:hover{
    border-radius: 8px;
    border-color: #cbc210;
}

.game-cell.is-x{
    color: #4cbe84;
}

.game-cell.is-o{
    color: rgba(229,69,60,255);
}

.game-cell.is-x:hover{
    border-radius: 5px;
    border-color: rgb(212, 214, 216);
}

.game-cell.is-o:hover{
    border-radius: 5px;
    border-color: rgb(212, 214, 216);
}

.reset-button{
    margin-left: 380px;
    background-color: black;
}