.bingo-game-board {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.game-cell-marked {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 22px;
    border: 1px solid #ccc;
    background-color: #383232;
    color: #ffffff;
}

.bingo_game-cell {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 22px;
    border: 1px solid #ccc;
    background-color: #e38d04;
    color: #000000;
}

.bingo_game-cell:hover {

    background-color: #87662f;
    color: #827f7f;
}