.item-information {
    background-color: white;
    height: 30px;
    width: 930px;
    color: #1a1a1a;
    font-size: 20px;
}

.item_description {
    background-color: white;
    height: 100px;
    width: 930px;
    color: #1a1a1a;
    font-size: 20px;
    text-align: top;
}

textarea {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-seriFf;
}

.add-btn {
    margin-top: 30px;
    width: 300px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: black 1px solid;
    background-color: rgb(107, 107, 241);
    color: white;
}

#image{
    width: 730px;
    margin-right: 30px;
}

.upload-btn {
    width: 150px;
    height: 43px;
    color: #ffffff;
    background-color: rgb(45, 195, 11);
}

.uploaded-img{
    width: 80px;
    height: 80px;
    border-radius: 8px;
    object-fit: contain
}

.uploaded-container{
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border: #e0dbdb 1px solid;
    border-radius: 8px;
    align-items: center;
    margin-top: 20px;
    width: 920px;
}

.delete-uploaded{
    background-color: rgb(217, 58, 58);
    width: 100px;
    height: 45px;
    color: #fffefe;
    margin-right: 35px;
}