.logo-footer-container{
    margin-top: 300px;
    background-color: #333;
    height: 100px;
    padding: 20px 0;
    padding-left: 90px;
    display: flex;
    justify-content: space-between;
}
.footer-icon{
    font-size: 32px;
    margin-left: 30px;
}

.info{
    margin-top: -15px;
    font-size: 16px;
    margin-right: 50px;
}

.footer-links{
    display: flex;
    margin-right: 80px;
}

.logo{
    height: 100px;
}